Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
Pillow==5.3.0
PyYAML==5.1
Werkzeug==0.15.2
absl-py==0.7.1
astor==0.7.1
gast==0.2.2
google-pasta==0.1.5
grpcio==1.20.1
h5py==2.8.0
itsdangerous==1.1.0
mock==3.0.5
numpy==1.16.3
opencv-python==4.1.0.25
protobuf==3.7.1
scipy==1.2.1
six==1.11.0
tensorboard==1.13.1
tensorflow==2.5.3
tensorflow-estimator==1.13.0
tensorflow-hub==0.1.1
tensorflowjs==0.8.5
termcolor==1.1.0
wrapt==1.11.1